body {
  background: #EAEAEA;
  font-size: 1.2em!important;
}
.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
 .user-image img { clear: both; margin: auto; position: relative;}

.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
 .user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
 .user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
  .navigation li {float: left; margin: 0; padding: 0;}
   .navigation li a {padding: 20px 30px; float: left;}
   .navigation li.active a {background: #428BCA; color: #fff;}
 .user-info-block .user-body {float: left; padding: 5%; width: 100%;}
  .user-body .tab-content > div {float: left; width: 100%;}
  .user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}


.page-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.profile-info-contaienr {
  justify-content: center;
}

.user-image-container {
  height: 80px;
  width: 80px;
  border: 1px solid #ccc;
  padding: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.selected-image-badge {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
}

.image-gallery-item {
  border-radius: 1.25rem;
  border: 1px solid #ccc;
  margin-right: 1.2rem;
}

/* borderless table fix */
.table thead tr th, .table tbody tr td {
  border: none;
}

/* datepicket css fixes */

.react-datepicker-wrapper {
  width: 100%!important;
}